django_q
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-appointment.git@5c8a64f53b54db7a057a296c769d4e69f3400a3b
git+https://github.com/botswana-harvard/edc-identifier@develop#edc_identifier
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-facility.git@a7d04e94d8b58f5d4af6007b7d44199f147d1b70
git+https://github.com/botswana-harvard/edc-form-validators.git@e812688a1ca1b86867e37fedcd285be18def5ea7
git+https://github.com/botswana-harvard/edc-lab.git@aaf2f374ec4bd77b70dbb3e2dab86e1790f2ccc4
git+https://github.com/botswana-harvard/edc-label.git@adabbc6948d489ed2a9fcd4ba78c21e18d81d6a2
git+https://github.com/botswana-harvard/edc-metadata.git@5feba9c8ffc44f81dafe52e2131d28e723d768e2
git+https://github.com/botswana-harvard/edc-model-admin.git@59406f3602ad31c455079525a669b76a909542ee
git+https://github.com/botswana-harvard/edc-search.git@5ec22f14b3db2b8fcf328b94c3a0ca8845a8a78c
git+https://github.com/botswana-harvard/edc-calendar.git@612d892114d769db17b5e030def5d44e11221edc
git+https://github.com/botswana-harvard/edc-reference.git@4ce7d9a04b0c816ba0fded3e55985d5e9813c8db
git+https://github.com/botswana-harvard/edc-sms.git@43f4cd5f97ab4b8c3a432506561633e131c9e68c
git+https://github.com/botswana-harvard/edc-visit-schedule@develop#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking@develop#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/edc-protocol@develop#egg=edc-protocol
git+https://github.com/botswana-harvard/django-revision.git@413b56162a0e73689d94c452b34b859add4e5a08
git+https://github.com/botswana-harvard/django-crypto-fields.git@f975c27f7ea69ca274976a3868c34f2d8983d550
